.pagina-inicial {
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
}

// ================= CABEÇALHO ==================
.cabecalho {
  background-image: url('../../../assets/images/imagem1\ 1.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .overlay {
    background-color: rgba(0, 0, 0, 0.6); // camada escura para legibilidade
    padding: 2rem;
    text-align: center;
    max-width: 90%;
    border-radius: 10px;

    .titulo {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .slogan {
      font-size: 1.5rem;
      font-style: italic;
    }
  }
}
