<nav class="navbar">
  <!-- Logo ou título do site -->
  <a class="logo" routerLink="/">Protocolo WIFI</a>

  <!-- Itens da navegação -->
  <div class="navItens">
    <a class="navLink" routerLink="/inicio" routerLinkActive="ativo">Início</a>
    <a class="navLink" routerLink="/secao2" routerLinkActive="ativo">Conceito</a>
    <a class="navLink" routerLink="/secao3" routerLinkActive="ativo">Ficha Técnica</a>
    <a class="navLink" routerLink="/secao4" routerLinkActive="ativo">Casos de Sucesso</a>
    <a class="navLink" routerLink="/secao5" routerLinkActive="ativo">Incompatibilidade</a>
    <a class="navLink" routerLink="/secao6" routerLinkActive="ativo">Veja em Ação</a>
  </div>
</nav>
